.CocktailList__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
  padding: 10px;
}

.CocktailList__list::-webkit-scrollbar {
  display: none;
}